.texteCentrer{
    text-align: center;
    
}

.caseBlocIdentification{
    border-style:solid;
    border-color: black;
    border-radius: 5%;
    font-size: 80%;   
}

.centrer-mail{
    margin-left: -17px;
}

.tailleImage{
    width: 80%;
    height: 90%;
}


.taille-Image-Carroussel{
    width: 20%; 
}


.image-Accueil-Admin{
    width:30%;  
}




