.texteCentrer{
    text-align: center;
    
}

.caseBlocIdentification{
    border-style:solid;
    border-color: black;
    border-radius: 5%;
    
}

.tailleImage{
    width: 80%;
    height: 90%;
}

.taille-Image-Carroussel{
    width: 20%;
    
}




	
	